.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activation-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: red;
}

.activation-message{
  color: green;
}

.type{
  width: 40vw;
}


@media only screen and (max-width: 600px) {
  .type {
    width:80vw
  }
}
