<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand logo"><i class="fa-solid fa-puzzle-piece"></i>Puzzlez</a>

    <div class=" navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/puzzles">
            <i class="fas fa-home-alt"></i>&nbsp;Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="my-puzzles">
            <i class="fas fa-puzzle-piece"></i>&nbsp;My puzzles
          </a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" routerLink="my-waiting-list">
            <i class="fas fa-heart"></i>&nbsp;My waiting list
          </a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="my-completed-puzzles">
            <i class="fa-solid fa-check"></i>&nbsp;My Completed Puzzles
          </a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" routerLink="my-current-puzzles">
            <i class="fas fa-list-check"></i>&nbsp;Current Puzzles
          </a>
        </li>
        -->
      </ul>
      <form class="d-flex gap-2 align-items-center frm" role="search">

        <div>
          <i class="fa-solid fa-user title"></i>
          <span class="text-capitalize fw-bold title t">{{ getUsername() }}</span>
        </div>

        <button class="btn btn-link" type="submit" (click)="logout()">Logout<i class="fas fa-door-open"></i></button>
      </form>
    </div>
  </div>
</nav>
