.chk {
  cursor: pointer;
}

.tab{
  width: 80vw;
  margin-left: 10vw;
  padding-top:1%;
}

.selbook{
  margin-left: 20vw;
}
.right{
  margin-right: 10%;
}

@media only screen and (max-width: 600px) {
  .tab{
    width: 90vw ;
    margin-left: 2vw;
  }

  .navigate{
    margin-left: 20%;
  }
}
